<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:fragment="commonOnLoadJs">
        <!-- CORE JS FRAMEWORK - START -->
    <script th:src="@{/filecoin/assets/js/jquery-1.11.2.min.js}"></script>
    <script th:src="@{/filecoin/assets/js/jquery.easing.min.js}"></script>
    <script th:src="@{/filecoin/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/filecoin/assets/plugins/pace/pace.min.js}"></script>
    <script th:src="@{/filecoin/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/filecoin/assets/plugins/viewport/viewportchecker.js}"></script>

    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/plugins/jsMap.js}"></script>
    <script th:src="@{/plugins/common.js}"></script>
    <script th:src="@{/plugins/public.js}"></script>

    <!-- jQuery Validation plugin javascript-->
    <script th:src="@{/plugins/jquery-validation/js/jquery.validate.js}"></script>
    <!-- 自定义validation方法 -->
    <script th:src="@{/plugins/jquery-validation/js/additional-methods.js}"></script>
    <!-- jquery validation 默认中文返回信息js  -->
    <script th:src="@{/plugins/jquery-validation/js/localization/messages_zh.min.js}"></script>
    <script th:src="@{/plugins/jquery-validation/form-validate-demo.js}"></script>


    <script th:inline="javascript">
        var ctx= [[${#httpServletRequest.getContextPath()}]];
        window.jQuery || document.write('<script src="'+ctx+'/filecoin/assets/js/jquery-1.11.2.min.js}"><\/script>');
    </script>
    <!-- CORE JS FRAMEWORK - END -->

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <script th:src="@{/filecoin/assets/plugins/echarts/echarts-custom-for-dashboard.js}"></script>

    <script th:src="@{/filecoin/assets/plugins/flot-chart/jquery.flot.js}"></script>
    <script th:src="@{/filecoin/assets/plugins/flot-chart/jquery.flot.time.js}"></script>
    <script th:src="@{/filecoin/assets/js/chart-flot.js}"></script>

    <script th:src="@{/filecoin/assets/plugins/morris-chart/js/raphael-min.js}"></script>
    <script th:src="@{/filecoin/assets/plugins/morris-chart/js/morris.min.js}"></script>
    <script th:src="@{/filecoin/assets/js/chart-morris.js}"></script>
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE TEMPLATE JS - START -->
    <script th:src="@{/filecoin/assets/js/scripts.js}"></script>
</span>
</html>