<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header :: commonHead('IPFS星际云矿池')"></head>
<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class=" ">
    <!-- START TOPBAR -->
    <div class='page-topbar '>
        <div class='logo-area'>

        </div>
        <div class='quick-area'>
            <div class='pull-left'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    
                    
                    <li class="notify-toggle-wrapper">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-accent">3</span>
                        </a>
                        <ul class="dropdown-menu notifications animated fadeIn">
                            <li class="total">
                                <span class="small">
                                您有 <strong>3</strong> 条新消息.
                                <a href="javascript:;" class="pull-right">全部标记为已读消息</a>
                            </span>
                            </li>
                            <li class="list">

                                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                    <li class="unread available">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>您已成功邀请一位好友注册。</strong>
                                                    <span class="time small">15分钟前</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="unread away">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>您有一台矿机连接近期不稳定!</strong>
                                                    <span class="time small">45分钟前</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" busy">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>您有一台矿机离线，请注意！</strong>
                                                    <span class="time small">1小时前</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                   
                                    <li class=" available">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>2018-9-16 收益已支付，请注意查收。</strong>
                                                    <span class="time small">2018-09-16</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="external">
                                <a href="javascript:;">
                                    <span>阅读所有消息。</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="profile">
                        <a href="#" data-toggle="dropdown" class="toggle">
                           <span id="userNameo"> <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li>
                                <a href="account-confirmation.html">
                                    <i class="fa fa-wrench"></i> 账户设置
                                </a>
                            </li>
                            
                            <li>
                                <a href="ui-support.html">
                                    <i class="fa fa-info"></i> 用户帮助
                                </a>
                            </li>
                            <li class="last">
                                <a href="ui-login.html">
                                    <i class="fa fa-lock"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>

    </div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->

        <div class="page-sidebar fixedscroll">

            <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper" th:include="/common/menu :: commonMenu('faq')"></div>
            <!-- MAIN MENU - END -->

        </div>
        <!--  SIDEBAR - END -->


        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>

                <div class='col-xs-12'>
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">FAQ</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index-dashboard.html"><i class="fa fa-home"></i>矿池</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->


<div class="col-lg-12 ">
                    <section class="box nohidden has-border-left-3">
                            <header class="panel_header">
                                <h2 class="title pull-left">帮助中心</h2>
                                <div class="actions panel_actions pull-right">
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                   
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body" style="padding-bottom:0 !important">    
                                <div class="row">
                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/icons/i1.png" class="center-block mb-20" style="max-width:84px" alt="">
                                                <h4>QQ群</h4>
                                                <p class="mt-10 text-center no-mb">一群：22138062</p>
                                                <p class="mt-10 text-center no-mb">一群：22138088</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/icons/i3.png" class="center-block mb-20" style="max-width:150px" alt="">
                                                <h4>微信在线客服</h4>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 no-pl no-pr">
                                        <div class="tile-progress bg-accent" style="margin-left:15px;margin-right:15px;cursor:pointer">
                                            <div class="content">
                                                <img src="../data/icons/i3.png" class="center-block mb-20" style="max-width:150px" alt="">
                                                <h4>微信公众号</h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>
                </div>



                <div class="col-lg-12">
                    <section class="box has-border-left-3">
                        <header class="panel_header">
                            <h2 class="title pull-left">FAQ</h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                                               <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="mb-20">常见问题</h3>

                                    <!-- Bootstrap FAQ - START -->
                                    <div class="panel-group no-mb faq-panels" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">挖矿设备用什么？?</a>
                                        </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>IPFS矿机或组装电脑都可以</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">挖矿如何获得矿机意外停机通知？</a>
                                            </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>等待添加</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">等待添加</a>
                                        </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>等待添加</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">等待添加</a>
                                        </h4>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>等待添加</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">等待添加</a>
                                        </h4>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>等待添加</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">等待添加</a>
                                        </h4>
                                            </div>
                                            <div id="collapseNine" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>等待添加</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- bs faq end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
        


        
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
    <!-- 引入公共js -->
    <span th:include="/common/footer :: commonOnLoadJs"></span>
    <!-- 登录js -->
    <script th:src="@{/js/modules/sys/login.js}"></script>
    <!-- END CORE TEMPLATE JS - END -->
    <script th:inline="javascript">

        $(function(){
            LoginFunc.getLoginUser();
        });

    </script>
    <!-- END CORE TEMPLATE JS - END -->

</body>

</html>