﻿<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>IPFS星际云矿池会员注册</title>
	<link rel="stylesheet" href="../../filecoin/register/css/base.css" />
	<link rel="stylesheet" href="../../filecoin/register/css/layout.css"/>
</head>
<body>
<div id="wrapper">
	<header id="header">
		<div id="headBox">
			<div class="w960 oh">
				<a href="#" class="fl mt10"><img src="../../filecoin/register/images/logo.png" alt="logo" /></a>
				<nav id="navs" class="fr">
					<a href="../../index.html">首页</a>
					<a href="/modules/filecoin/regist.html" class="active">注册</a>
					<a href="/modules/filecoin/login.html">登录</a>
				</nav>
			</div>
		</div>
	</header><!-- // header end -->
	<div class="container w960 mt20">
		<div id="processor" >
			<ol class="processorBox oh">
				<li class="current">
					<div class="step_inner fl">
						<span class="icon_step">1</span>
						<h4>填写基本信息</h4>
					</div>
				</li>
				<li>
					<div class="step_inner">
						<span class="icon_step">2</span>
						<h4>邮箱激活</h4>
					</div>
				</li>
				<li>
					<div class="step_inner fr">
						<span class="icon_step">3</span>
						<h4>绑定手机</h4>
					</div>
				</li>
				<li>
					<div class="step_inner fr">
						<span class="icon_step">4</span>
						<h4>完善矿工资料</h4>
					</div>
				</li>
				<li>
					<div class="step_inner fr">
						<span class="icon_step">5</span>
						<h4>邀请注册</h4>
					</div>
				</li>

			</ol>
			<div class="step_line"></div>
		</div>
		<div class="content">
			<div id="step1" class="step hide">
				<form id="step1_frm" name="step1_frm" action="" method="post" >
				<div class="frm_control_group">
					<label class="frm_label">邮箱</label>
					<div class="frm_controls">
						<input type="text" id="email" name="email" class="frm_input email" maxlength="32" value=""/>
						<p class="frm_tips">作为登录帐号，请填写未注册的邮箱</p>
					</div>
				</div>

				<div class="frm_control_group">
					<label class="frm_label">内测邀请码</label>
					<div class="frm_controls">
						<input type="text" id="vcode" name="vcode" class="frm_input " maxlength="6" value=""/>
						<p class="changeVerifyCode">您必须输入邀请码才能注册。如没有请加QQ群：22138062 获取。</p>
					</div>
				</div>

				<div class="frm_control_group">
					<label class="frm_label">密码</label>
					<div class="frm_controls">
						<input type="password" id="passwd" name="passwd" maxlength="32" class="frm_input passwd" value=""/>
						<p class="frm_tips">字母、数字或者英文符号，最短6位，区分大小写</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">再次输入密码</label>
					<div class="frm_controls">
						<input type="password" id="passwd2" name="passwd2" maxlength="32" class="frm_input passwd2" value=""/>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">验证码</label>
					<div class="frm_controls verifycode">
						<input type="text" id="captcha" name="captcha" class="frm_input verifyCode" maxlength="5"/>
						<img id="captchaImgId" src="/captcha.jpg" alt="" />
						<a class="changeVerifyCode" id="captcha_changeTipsHere" href="#">换一张</a>
					</div>
				</div>
				<div class="toolBar">
					<a id="nextBtn" class="btn btn_primary" href="javascript:;">下一步</a>
				</div>
					<input type="hidden" name="userId" id="user_id" value=""/>
					<input type="hidden" name="userMail" id="user_mail" value=""/>
					<input type="hidden" name="registType" id="regist_type" value="C"/>
					<input type="hidden" name="mailUrl" id="mailUrl" value=""/>
				</form>
			</div><!-- // step1 end -->
			<div id="step2" class="step hide">
				<div class="w330">
					<strong class="f16">感谢注册，确认邮件已发送至你的注册邮箱 : <br /><span id="registEmail"></span></strong>
					<p class="c7b">请进入邮箱查看邮件，并激活IPFS星际云矿池帐号。</p>
					<p>
						<a class="btn btn_primary mt20" href="#" id="openMailUrlBtn">登录邮箱</a>
					</p>
					<p class="c7b mt20">没有收到邮件？</p>
					<p>1. 请检查邮箱地址是否正确，你可以返回 <a href="#" id="editMailUserBtn" class="c46">重新填写</a></p>
					<p>2. 检查你的邮件垃圾箱</p>
					<p>3. 若仍未收到确认，请尝试 <a id="resendMailBtn" href="#" class="c46">重新发送</a></p>
				</div>
				<div class="clear"></div>
			</div><!-- // step2 end -->
			<div id="step3" class="step hide">
				<form name="" action="" method="post" id="step3_frm" name="step3_frm">
				<div class="frm_control_group">
					<label class="frm_label">真实姓名：</label>
					<div class="frm_controls">
						<input type="text" name="trueName" id="trueName" class="frm_input trueName" maxlength="32"/>
						<p class="frm_tips">请填写真实姓名</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">身份证号：</label>
					<div class="frm_controls">
						<input type="text" name="iccid" id="iccid" class="frm_input iccid" maxlength="20"/>
						<p class="frm_tips">请填写真实身份证号码，作为日后帐号找回重要依据。</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">手机号：</label>
					<div class="frm_controls">
						<input type="text" name="phone" id="phone" class="frm_input phone" maxlength="13"/>
						<p class="frm_tips">请填写常用手机号</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">手机验证码：</label>
					<div class="frm_controls">
						<input type="text" name="phoneYzm" id="phoneYzm" maxlength="6" class="frm_input phoneYzm"/>
						<input type="button" id="phoneYzm_changeTipsHere" value="获取验证码" class="btn btn_default" />
					</div>
				</div>
				<div class="toolBar">
					<a id="nextBtn2" class="btn btn_primary" href="javascript:;">下一步</a>
				</div>
				</form>
			</div><!-- // step3 end -->
			<div id="step4" class="step hide">
				<form action="" method="post" id="step4_frm" name="step4_frm">
				<div class="frm_control_group">
					<label class="frm_label">矿机所在位置</label>
					<div class="frm_controls">
						<input type="text" name="minerMachineAddr" id="minerMachineAddr" class="frm_input minerMachineAddr" maxlength="32"/>
						<p class="frm_tips">输入您的所在位置</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">矿机存放环境</label>
					<div class="frm_controls">
						<input type="text" name="minerMachineEnv" id="minerMachineEnv" maxlength="32" class="frm_input minerMachineEnv"/>
						<p class="frm_tips">矿机存放位置：例如IDC机房、矿场、家庭、单位</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">在线时长：</label>
					<div class="frm_controls inputradio">
						<input type="radio" name="onLineTime" value="24H">24小时
						<input type="radio" name="onLineTime" value="notsure">不稳定<br />
						<p class="frm_tips">如实选择，在线不稳定会影响您质押的代币或收益</p>
					</div>
				</div>

				<div class="frm_control_group">
					<label class="frm_label">存储大小</label>
					<div class="frm_controls">
						<div id="demo">



							<div class="i_box"><a href="javascript:;" class="J_minus">-</a><input type="text" id="storageLen" name="storageLen" value="0" class="J_input storageLen" /><a href="javascript:;" class="J_add">+</a></div>



						</div>
						<p class="t_sas">单位：T</p>
					</div>
					<div class="i_tips"></div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">带宽大小</label>
					<div class="frm_controls">
						<input type="text" name="bandWidth" id="bandWidth" class="frm_input bandWidth"/>
						<input type="button" value="在线测速" class="btn btn_default" />
					</div>
				</div>
				<div class="toolBar">
					<a id="finishedBtn" class="btn btn_primary" href="javascript:;">完成</a>
				</div>
				</form>
			</div>
			<!-- // step4 end -->
			<div id="step5" class="step hide">
				<div class="w330">
					<strong class="f16">感谢注册成为内测用户，您的邀请码为 : </strong>
					<p><a class="btncode btn_primary mt20" href="javascript:;" id="invitationCodeA"></a></p>
					<p>1. 关注微信公众号</p>
					<p>2. 加入矿池QQ群：22138062</p>
				</div>
				<div class="w330right"><img src="../../filecoin/register/images/qr.jpg"></div>
				<div class="step5"><img src="../../filecoin/register/images/feilv.png"></div>
				<div class="step5"><img src="../../filecoin/register/images/banner.jpg"></div>

				<div class="clear"></div>
			</div><!-- // step5 end -->
		</div>
	</div><!-- // container end -->


	<footer id="footer" class="w960 oh">
		</nav>
	</footer><!-- // footer end -->
</div><!-- // wrapper end -->
	<script src="../../filecoin/register/js/jquery.min.js"></script>

<script src="../../plugins/layer/layer.js"></script>
<script src="../../plugins/jsMap.js"></script>
<script src="../../plugins/common.js"></script>
<script src="../../plugins/public.js"></script>
<script src="../../js/modules/sys/login.js"></script>
<!-- jQuery Validation plugin javascript-->
<script src="../../plugins/jquery-validation/js/jquery.validate.js"></script>
<!-- 自定义validation方法 -->
<script src="../../plugins/jquery-validation/js/additional-methods.js"></script>
<!-- jquery validation 默认中文返回信息js  -->
<script src="../../plugins/jquery-validation/js/localization/messages_zh.min.js"></script>
<script src="../../plugins/jquery-validation/form-validate-demo.js"></script>
<script src="../../plugins/jquery.params.js"></script>
<script src="../../plugins/crtptojs/crypto-js.js"></script>
<script type="text/javascript">
    var ctx= "";
    var value = "";
    var step = 0;
    var userId = "";
    var globleIndex = 0;
</script>
<script src="../../js/modules/sys/regist.js"></script>
</body>
</html>