<!DOCTYPE html>
<html lang="en">
<head>
	<!--
        * @Package: ipfsun.com
        * @Version: 1.0.0
    -->
	<meta charset="UTF-8" />
	<title>IPFS星际云矿池会员注册</title>
	<!-- =====  SEO MATE  ===== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="IPFS,ipfs矿池,filecoin矿池,IPFS星际云矿池,filecoin星际云矿池,ipfs挖矿教程,ipfs挖矿软件,ipfs官网,ipfs filecoin官网,ipfs和storj,ipfsun,filecoin,星际网络传输协议,区块链,ipfs协议,filecoin硬盘挖矿教程,ipfs硬盘挖矿教程,ipfs挖矿收益,filecoin挖矿收益,filecoin挖矿软件,ipfs挖矿系统,ipfs挖矿软件,ipfs挖矿带宽,storj挖矿,filecoin挖矿软件,ipfs如何挖矿,filecoin如何挖矿,ipfs挖矿收益,filecoin挖矿收益">
	<meta name="description" content="IPFS星际文件云矿池，星际文件系统IPFS（InterPlanetary File System）是一个面向全球的、点对点的分布式版本文件系统，目标是为了补充（甚至是取代）目前统治互联网的超文本传输协议（HTTP），将所有具有相同文件系统的计算设备连接在…最好的ipfs爱好者聚集地Just for IPFS">
	<!-- =====  MOBILE SPECIFICATION  ===== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="../../filecoin/register/css/base.css" />
	<link rel="stylesheet" href="../../filecoin/register/css/layout.css"/>
	<style>
		.yun{border:1px solid #cacaca;background:#f2f2f2;color:#908484;float:right;margin-left:10px;padding:2px 5px;}
	</style>
</head>
<body>
<div id="wrapper">
	<header id="header">
		<div id="headBox">
			<div class="w960 oh">
				<a href="#" class="fl mt10"><img src="../../filecoin/register/images/logo.png" alt="logo" /></a>
				<nav id="navs" class="fr">
					<a href="../../index.html">首页</a>
					<a href="/modules/filecoin/regist.html" class="active">注册</a>
					<a href="/modules/filecoin/login.html">登录</a>
				</nav>
			</div>
		</div>
	</header><!-- // header end -->
	<div class="container w960 mt20">
		<div id="processor" >
			<ol class="processorBox oh">
				<li class="current">
					<div class="step_inner fl">
						<span class="icon_step">1</span>
						<h4>填写基本信息</h4>
					</div>
				</li>
				<li>
					<div class="step_inner">
						<span class="icon_step">2</span>
						<h4>邮箱激活</h4>
					</div>
				</li>
				<li>
					<div class="step_inner fr">
						<span class="icon_step">3</span>
						<h4>绑定手机</h4>
					</div>
				</li>
				<li>
					<div class="step_inner fr">
						<span class="icon_step">4</span>
						<h4>完善矿工资料</h4>
					</div>
				</li>
				<li>
					<div class="step_inner fr">
						<span class="icon_step">5</span>
						<h4>邀请注册</h4>
					</div>
				</li>

			</ol>
			<div class="step_line"></div>
		</div>
		<div class="content">
			<div id="step1" class="step hide">
				<form id="step1_frm" name="step1_frm" action="" method="post" >
				<div class="frm_control_group">
					<label class="frm_label">邮箱</label>
					<div class="frm_controls">
						<input type="text" id="email" name="email" class="frm_input email" maxlength="32" value=""/>
						<p class="frm_tips">作为登录帐号，请填写未注册的邮箱</p>
					</div>
				</div>

				<div class="frm_control_group">
					<label class="frm_label">内测邀请码</label>
					<div class="frm_controls">
						<input type="text" id="vcode" name="vcode" class="frm_input " maxlength="6" value=""/>
						<p class="changeVerifyCode" id="needCliekP">您必须输入邀请码才能注册。如没有请加QQ群获取。</p>
					</div>
				</div>

				<div class="frm_control_group">
					<label class="frm_label">密码</label>
					<div class="frm_controls">
						<input type="password" id="passwd" name="passwd" maxlength="32" class="frm_input passwd" value=""/>
						<p class="frm_tips">字母、数字或者英文符号，最短6位，区分大小写</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">再次输入密码</label>
					<div class="frm_controls">
						<input type="password" id="passwd2" name="passwd2" maxlength="32" class="frm_input passwd2" value=""/>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">验证码</label>
					<div class="frm_controls verifycode">
						<input type="text" id="captcha" name="captcha" class="frm_input verifyCode" maxlength="5"/>
						<img id="captchaImgId" src="/captcha.jpg" alt="" />
						<a class="changeVerifyCode" style="color: #0a0a0a" id="captcha_changeTipsHere"
						   href="javascript:void(0);">换一张</a>
					</div>
				</div>
				<div class="toolBar">
					<a id="nextBtn" class="btn btn_primary" href="javascript:void(0);">下一步</a>
				</div>
					<input type="hidden" name="userId" id="user_id" value=""/>
					<input type="hidden" name="userMail" id="user_mail" value=""/>
					<input type="hidden" name="registType" id="regist_type" value="C"/>
					<input type="hidden" name="mailUrl" id="mailUrl" value=""/>
				</form>
			</div><!-- // step1 end -->
			<div id="step2" class="step hide">
				<div class="w330">
					<strong class="f16">感谢注册，确认邮件已发送至你的注册邮箱 : <br /><span id="registEmail"></span></strong>
					<p class="c7b">请进入邮箱查看邮件，并激活IPFS星际云矿池帐号。</p>
					<p>
						<a class="btn btn_primary mt20" href="javascript:void(0);" id="openMailUrlBtn">登录邮箱</a>
					</p>
					<p class="c7b mt20">没有收到邮件？</p>
					<p>1. 请检查邮箱地址是否正确，你可以返回 <a href="javascript:void(0);" id="editMailUserBtn" class="c46">重新填写</a></p>
					<p>2. 检查你的邮件垃圾箱</p>
					<p>3. 若仍未收到确认，请尝试 <a id="resendMailBtn" href="javascript:void(0);" class="c46">重新发送</a></p>
				</div>
				<div class="clear"></div>
			</div><!-- // step2 end -->
			<div id="step3" class="step hide">
				<form name="" action="" method="post" id="step3_frm" name="step3_frm">
				<div class="frm_control_group">
					<label class="frm_label">真实姓名：</label>
					<div class="frm_controls">
						<input type="text" name="trueName" id="trueName" class="frm_input trueName" maxlength="32"/>
						<p class="frm_tips">请填写真实姓名</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">身份证号：</label>
					<div class="frm_controls">
						<input type="text" name="iccid" id="iccid" class="frm_input iccid" maxlength="20"/>
						<p class="frm_tips">请填写真实身份证号码，作为日后帐号找回重要依据。</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">手机号：</label>
					<div class="frm_controls">
						<input type="text" name="phone" id="phone" class="frm_input phone" maxlength="13"/>
						<p class="frm_tips">请填写常用手机号</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">手机验证码：</label>
					<div class="frm_controls">
						<input type="text" name="phoneYzm" id="phoneYzm" maxlength="6" class="frm_input phoneYzm"/>
						<input type="button" id="phoneYzm_changeTipsHere" value="获取验证码" class="btn btn_default" />
					</div>
				</div>
				<div class="toolBar">
					<a id="nextBtn2" class="btn btn_primary" href="javascript:void(0);">下一步</a>
				</div>
				</form>
			</div><!-- // step3 end -->
			<div id="step4" class="step hide">
				<form action="" method="post" id="step4_frm" name="step4_frm">
				<div class="frm_control_group">
					<label class="frm_label">矿机所在位置</label>
					<div class="frm_controls">
						<select name="minerMachineAddr1" id="minerMachineAddr1" class="frm_input minerMachineAddr" style="width: 110px;height: 24px">
							<option value="中国大陆">中国大陆</option>
						</select>
						<select name="minerMachineAddr" id="minerMachineAddr" class="frm_input minerMachineAddr" style="width: 110px;height: 24px">
							<option value="上海">上海</option>
							<option value="北京">北京</option>
							<option value="杭州">杭州</option>
							<option value="广州">广州</option>
							<option value="海南">海南</option>
							<option value="香港">香港</option>
							<option value="台湾">台湾</option>
							<option value="温州" selected>温州</option>
						</select>
						<!--<input type="text" name="minerMachineAddr" id="minerMachineAddr" class="frm_input minerMachineAddr" maxlength="32"/>-->
						<p class="frm_tips">选择您的所在位置</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">认购矿机类型</label>
					<div class="frm_controls">
						<select name="minerMachineEnv" id="minerMachineEnv" class="frm_input minerMachineEnv" style="width: 140px;height: 24px">
							<option value="">选择矿机类型</option>
							<option value="云节点">云节点</option>
							<option value="存储服务器">存储服务器</option>
							<option value="家庭版IPFS矿机">家庭版IPFS矿机</option>
							<option value="电脑主机">电脑主机</option>
						</select>
						<p class="yun" style="display: none">云节点计划配置:骨干机房云主机 2核4G 存储空间:4T 带宽:50M独享</p>
						<!--<input type="text" name="minerMachineEnv" id="minerMachineEnv" maxlength="32" class="frm_input minerMachineEnv"/>-->
						<p class="frm_tips">认购矿机类型包括：云节点、存储服务器、家庭版IPFS矿机、电脑主机</p>
					</div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">在线时长：</label>
					<div class="frm_controls inputradio">
						<input type="radio" name="onLineTime" checked value="24H">24小时
						<input type="radio" name="onLineTime" value="notsure">不稳定<br />
						<p class="frm_tips">如实选择，在线不稳定会影响您质押的代币或收益</p>
					</div>
				</div>

				<div class="frm_control_group">
					<label class="frm_label">存储大小</label>
					<div class="frm_controls">
						<div id="demo">


							<div class="i_box"><a href="javascript:void(0);" class="J_minus">-</a><input type="text"
																										 id="storageLen"
																										 name="storageLen"
																										 value="0"
																										 class="J_input storageLen"/><a
									href="javascript:void(0);" class="J_add">+</a></div>



						</div>
						<p class="t_sas" id="storageLen_changeTipsHere">单位：T</p>
					</div>
					<div class="i_tips"></div>
				</div>
				<div class="frm_control_group">
					<label class="frm_label">带宽大小</label>
					<div class="frm_controls">
						<input type="text" name="bandWidth" id="bandWidth" value="0" readonly class="frm_input bandWidth"/>
						<img id="bandWidthImg" height='300' style="display:none;" src=''  width='400'/>
						<input type="button" value="在线测速" id="bandWidth_changeTipsHere" class="btn btn_default" />
						<p class="t_sas">单位：M</p>
					</div>
				</div>
				<div class="toolBar">
					<a id="finishedBtn" class="btn btn_primary" href="javascript:void(0);">完成</a>
				</div>
				</form>
			</div>
			<!-- // step4 end -->
			<div id="step5" class="step hide">
				<div class="w330">
					<strong class="f16">感谢注册成为内测用户，您的邀请码为 : </strong>
					<p><a class="btncode btn_primary mt20" href="javascript:void(0);" id="invitationCodeA"></a></p>
					<p>1. 关注微信公众号</p>
					<p>2. 加入矿池QQ群：22138062</p>
				</div>
				<div class="w330right"><img src="../../filecoin/register/images/qr.jpg"></div>
				<div class="step5"><img src="../../filecoin/register/images/feilv.png"></div>
				<div class="step5"><img src="../../filecoin/register/images/banner.jpg"></div>

				<div class="clear"></div>
			</div><!-- // step5 end -->
		</div>
	</div><!-- // container end -->


	<footer id="footer" class="w960 oh">
		</nav>
	</footer><!-- // footer end -->
</div><!-- // wrapper end -->
	<script src="../../filecoin/register/js/jquery.min.js"></script>

<script src="../../plugins/layer/layer.js"></script>
<script src="../../plugins/jsMap.js"></script>
<script src="../../plugins/common.js"></script>
<script src="../../plugins/public.js"></script>
<script src="../../js/modules/filecoin/login.js"></script>
<!-- jQuery Validation plugin javascript-->
<script src="../../plugins/jquery-validation/js/jquery.validate.js"></script>
<!-- 自定义validation方法 -->
<script src="../../plugins/jquery-validation/js/additional-methods.js"></script>
<!-- jquery validation 默认中文返回信息js  -->
<script src="../../plugins/jquery-validation/js/localization/messages_zh.min.js"></script>
<script src="../../plugins/jquery-validation/form-validate-demo.js"></script>
<script src="../../plugins/jquery.params.js"></script>
<script src="../../plugins/crtptojs/crypto-js.js"></script>
<script type="text/javascript">
    var ctx= "";
    var value = "";
    var step = 0;
    var userId = "";
    var globleIndex = 0;
    var bindTime;
    var loadingIndex;
</script>
<script src="../../js/modules/filecoin/regist.js"></script>
</body>
</html>